.UpdatePets{
    background-image: url('../../assets/Images/bg-template.png');
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
}

.UpdatePets::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 216, 174, 0.707);
    z-index: -1;
}

/* Mantener el texto y el botón en el frente */
.UpdatePets h2,
.UpdatePets p,
.UpdatePets button {
    position: relative;
    z-index: 2;
}