.cards {
    background-image: url('../../assets/Images/bg-template.png');
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
    border-radius: 3rem;
}

.cards::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(108, 2, 147, 0.707);
    z-index: -1;
    border-radius: 3rem;
    transition: background-color 0.3s ease;
}

.purple-bg::before {
    background-color: rgba(108, 2, 147, 0.707);
}

.green-bg::before {
    background-color: rgba(7, 216, 174, 0.707);
}

.cards {
    box-shadow: 9px 9px 11px rgba(117, 2, 159, 0.516);
}
