.login{
    background-image: url('../../assets/Images/bg-template.png');
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 216, 174, 0.707);
    z-index: -1;
}


.login h2,
.login p,
.login button {
    position: relative;
    z-index: 2;
}